deployment/windows-x86/update.bat text eol=crlf
deployment/windows-x86/update.ps1 text eol=crlf
deployment/windows-x86/rollback.bat text eol=crlf
deployment/windows-x86/rollback.ps1 text eol=crlf
deployment/windows-x86/更新手册.txt text eol=crlf
